openapi: 3.0.0
info:
  x-logo:
    url: https://docs.shiftleft.io/img/sl-logo.svg
  version: 4.0.0
  title: alerting sarif API
  description: 'The Qwiet API allows you to programmatically interact with Qwiet. You can manage users and their roles and get scan-related information, such as which applications were scanned and what vulnerabilities were identified by Qwiet as being present. You can also compare scans to see changes to your applications over time.


    # Authentication


    Use of the Qwiet API requires an access token, which is available via the [Qwiet UI](https://app.shiftleft.io/user/profile).

    '
servers:
- url: https://app.shiftleft.io/api/v4
tags:
- name: sarif
  x-displayName: SARIF
  description: 'The integration endpoints for generating and downloading SARIF reports for applications.

    '
paths:
  /orgs/{orgID}/compounds/named/{compoundName}/reports/sarif:
    get:
      tags:
      - sarif
      summary: Download Compound SARIF Report
      operationId: DownloadSarifReport
      description: Downloads the SARIF report for the specified compound.
      parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/compoundName'
      - in: query
        name: polyglot_scan
        description: Polyglot scan ID to filter to; defaults to the latest scan.
        schema:
          type: string
      - in: query
        name: scan_version
        description: The version of the code at scan time. Ignored if polyglot_scan is given.
        schema:
          type: string
      - in: query
        name: scan_branch
        description: The code branch at scan time. Ignored if polygot_scan or scan_version are given.
        schema:
          type: string
      - in: query
        name: scan_tag
        description: Tags passed to the analyzer at scan time. Ignored if polygot_scan, scan_version, or scan_branch are given.
        schema:
          type: string
          pattern: ^(?<key>.*?)__eq__(?<value>.*)$
      - in: query
        name: scan_platform
        description: The analysis platform. Cannot be specified together with scan_language.
        schema:
          $ref: '#/components/schemas/ScanPlatform'
      - in: query
        name: scan_language
        description: The analysis language. Cannot be specified together with scan_platform.
        schema:
          $ref: '#/components/schemas/ScanLanguage'
      security:
      - BearerToken:
        - findings:list
      responses:
        '200':
          description: SARIF report file streamed as download
          content:
            application/sarif+json:
              schema:
                type: string
                format: binary
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    compoundName:
      name: compoundName
      in: path
      description: A compound's name
      required: true
      schema:
        type: string
    orgID:
      name: orgID
      in: path
      description: The org ID
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    ScanPlatform:
      type: string
      description: The analysis platform identifier.
      enum:
      - java
      - go
      - csharp
      - javascript
      - c
      - python
      - terraform_hcl
      - ruby
      - php
      - fuzzytestlang
      - kotlin
      - javasrc
      - pythonsrc
      - jssrc
      - secrets
      - swiftsrc
      - plsql
      - apex
      - groovy
    Error:
      type: object
      required:
      - ok
      - code
      - message
      properties:
        ok:
          type: boolean
          description: Whether the request was successful (true) or not (false)
        code:
          type: string
          description: The `enum` representing the error encountered
          example: INTERNAL_SERVER_ERROR
        message:
          type: string
          description: A message describing the error
          example: Internal Server Error
        validation_errors:
          type: array
          description: The validation errors the user should correct before re-submitting the request
          items:
            type: string
            description: A description of the validation error
    ScanLanguage:
      type: string
      description: The analysis language identifier.
      enum:
      - java
      - go
      - csharp
      - javascript
      - c
      - python
      - terraform_hcl
      - ruby
      - php
      - fuzzytestlang
      - kotlin
      - swift
      - plsql
      - apex
      - groovy
  securitySchemes:
    BearerToken:
      description: 'Use of the Qwiet API requires an access token, which is available via the Qwiet Dashboard (either under [Account Settings](https://app.shiftleft.io/user/profile) or [Integration Tokens](https://app.shiftleft.io/integrations)) or via the `/tokens` endpoints. You can pass an access token to the API using the HTTP `Authorization` Request header as follows:\

        `Authorization: Bearer {access token}`

        '
      type: http
      scheme: bearer
