openapi: 3.0.0
servers:
  - url: https://app.shiftleft.io/api/v4
info:
  x-logo:
    url: https://docs.shiftleft.io/img/sl-logo.svg
  version: 4.0.0
  title: API
  description: >
    The Qwiet API allows you to programmatically interact with Qwiet. You can
    manage users and their roles and get scan-related information, such as which
    applications were scanned and what vulnerabilities were identified by Qwiet
    as being present. You can also compare scans to see changes to your
    applications over time.


    # Authentication


    Use of the Qwiet API requires an access token, which is available via the
    [Qwiet UI](https://app.shiftleft.io/user/profile).
tags:
  - name: alerting
    x-displayName: Alerting
    description: |
      Notification and alerting related endpoints (such as webhooks)
  - name: app_groups
    x-displayName: App groups
    description: >
      The user-created groups of applications.


      [![Run in
      Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/9829310-3251cbed-4ae3-4b06-8cad-c8748e49c7ec?action=collection%2Ffork&collection-url=entityId%3D9829310-3251cbed-4ae3-4b06-8cad-c8748e49c7ec%26entityType%3Dcollection%26workspaceId%3Da63f69cc-5c31-4f2b-8d28-b647f83b9e97)
  - name: app_labels
    x-displayName: App labels
    description: >
      The user-created application labels.


      [![Run in
      Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/30743751-da3c929b-651f-414c-993c-ee2b2573b2f4?action=collection%2Ffork&collection-url=entityId%3D30743751-da3c929b-651f-414c-993c-ee2b2573b2f4%26entityType%3Dcollection%26workspaceId%3Da63f69cc-5c31-4f2b-8d28-b647f83b9e97)
  - name: apps
    x-displayName: Applications
    description: >
      The applications submitted for analysis.


      [![Run in
      Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/9829310-e9d0bf19-30bd-46f4-b40c-9df03d2a463a?action=collection%2Ffork&collection-url=entityId%3D9829310-e9d0bf19-30bd-46f4-b40c-9df03d2a463a%26entityType%3Dcollection%26workspaceId%3Da63f69cc-5c31-4f2b-8d28-b647f83b9e97)
  - name: autofix
    x-displayName: AutoFix
    description: >
      The AutoFix suggestions for findings in applications. Harness SAST and SCA
      AutoFix uses large language models (LLMs) to generate potential code fix
      suggestions for findings produced by Qwiet AI by Harness analyses.


      [![Run in
      Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/30743751-b06912bf-f25e-46a3-92c1-c12ba2ef162a?action=collection%2Ffork&collection-url=entityId%3D30743751-b06912bf-f25e-46a3-92c1-c12ba2ef162a%26entityType%3Dcollection%26workspaceId%3Da63f69cc-5c31-4f2b-8d28-b647f83b9e97)
  - name: azureboard
    x-displayName: Azure Boards
    description: |
      The endpoints to manage the Azure Boards integration.
  - name: branches
    x-displayName: Branches
    description: |
      The branch information for scans of applications.
  - name: comments
    x-displayName: Comments
    description: >
      The text threads (with individual comments ordered by time) attached to
      findings.


      [![Run in
      Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/9829310-49dbc330-9cb4-4dac-9257-a9cc79b1103c?action=collection%2Ffork&collection-url=entityId%3D9829310-49dbc330-9cb4-4dac-9257-a9cc79b1103c%26entityType%3Dcollection%26workspaceId%3Da63f69cc-5c31-4f2b-8d28-b647f83b9e97)
  - name: compounds
    x-displayName: Multi-Language Apps
    description: >
      Multi-Language Apps are groups of applications that are scanned together
      as a single application. This is useful for applications that are a
      compound of various programming languages and configurations of
      frameworks.
  - name: findings
    x-displayName: Findings
    description: >
      The results of a scan (which can include vulnerabilities, secrets, or
      insights).

      [![Run in
      Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/9829310-156075f8-c7cf-4e2c-95fa-0823a3313658?action=collection%2Ffork&collection-url=entityId%3D9829310-156075f8-c7cf-4e2c-95fa-0823a3313658%26entityType%3Dcollection%26workspaceId%3Da63f69cc-5c31-4f2b-8d28-b647f83b9e97)
  - name: org_backup
    x-displayName: Organization Backup
    description: |
      The endpoints for downloading backups of an organization's data.
  - name: orgs
    x-displayName: Organizations
    description: >
      The logical grouping (e.g., tenant/account) within Qwiet that defines a
      set of users, teams, and applications.


      [![Run in
      Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/9829310-f0ae38d5-6c27-41a9-a1c3-9721d39f5df0?action=collection%2Ffork&collection-url=entityId%3D9829310-f0ae38d5-6c27-41a9-a1c3-9721d39f5df0%26entityType%3Dcollection%26workspaceId%3Da63f69cc-5c31-4f2b-8d28-b647f83b9e97)
  - name: rbac
    x-displayName: RBAC (users and teams)
    description: >
      Roles-based access control (RBAC) allows you to control the permissions
      users in an organization are granted.


      The permissions granted to a user are additive. The base level of a user's
      permission is determined by their role in the organization.


      A team represents a group of users and the applications that group of
      users can access. Users are granted additional permissions based on their
      team role.


      Users can belong to multiple teams, but an application can only belong to
      one team.


      You can use the `TEAM_DEFINED` organization role to limit user access to
      only the apps assigned to their team.


      [![Run in
      Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/9829310-c002d05e-2fae-4914-8629-54cff59e1e6b?action=collection%2Ffork&collection-url=entityId%3D9829310-c002d05e-2fae-4914-8629-54cff59e1e6b%26entityType%3Dcollection%26workspaceId%3Da63f69cc-5c31-4f2b-8d28-b647f83b9e97)
  - name: reports
    x-displayName: Reports
    description: >
      The summaries of applications and their findings for a specific
      organization.


      [![Run in
      Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/9829310-b675d7af-bdd5-49a4-982b-4e57c4f4a44c?action=collection%2Ffork&collection-url=entityId%3D9829310-b675d7af-bdd5-49a4-982b-4e57c4f4a44c%26entityType%3Dcollection%26workspaceId%3Da63f69cc-5c31-4f2b-8d28-b647f83b9e97)
  - name: SAML
    x-displayName: SAML
    description: >
      The integration endpoints allowing orgs to configure Qwiet to act as a
      SAML service provider (SP) that uses the customer's identity provider
      (IdP) to log users in.


      [![Run in
      Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/9829310-a411d1c3-c232-4843-a89d-b302df399d99?action=collection%2Ffork&collection-url=entityId%3D9829310-a411d1c3-c232-4843-a89d-b302df399d99%26entityType%3Dcollection%26workspaceId%3Da63f69cc-5c31-4f2b-8d28-b647f83b9e97)
  - name: sarif
    x-displayName: SARIF
    description: >
      The integration endpoints for generating and downloading SARIF reports for
      applications.
  - name: saved_searches
    x-displayName: Saved Searches
    description: >
      The saved searches endpoints allow users to save specific search queries
      for organization and app findings
  - name: sca
    x-displayName: SCA
    description: >
      The summaries of software composition analysis (SCA) results for apps in
      an organization.


      [![Run in
      Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/30743751-08a1d64d-5913-409a-ac8a-7074ce5a62d7?action=collection%2Ffork&collection-url=entityId%3D30743751-08a1d64d-5913-409a-ac8a-7074ce5a62d7%26entityType%3Dcollection%26workspaceId%3Da63f69cc-5c31-4f2b-8d28-b647f83b9e97)
  - name: scans
    x-displayName: Scans
    description: >
      The instances where Qwiet AI by Harness is invoked to identify findings in
      an application.


      [![Run in
      Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/9829310-dc6a68d5-995d-4ba4-8098-e3b67773cf0e?action=collection%2Ffork&collection-url=entityId%3D9829310-dc6a68d5-995d-4ba4-8098-e3b67773cf0e%26entityType%3Dcollection%26workspaceId%3Da63f69cc-5c31-4f2b-8d28-b647f83b9e97)
  - name: scopes
    x-displayName: Scopes
    description: >
      Scopes define the type of resource and the operation that you can perform
      with the access token you bear. For example, `scans:create` means that the
      bearer of the token with this scope can create scans via the API.


      For each endpoint, we indicate the scope required to perform an operation
      under **Authorizations**.


      We also offer helper endpoints that allow you to determine what the
      allowed scopes for your access token are in the context of a specific API
      resource.


      [![Run in
      Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/9829310-54d0d8f3-0cc0-42c3-8eee-2eb66e1ea835?action=collection%2Ffork&collection-url=entityId%3D9829310-54d0d8f3-0cc0-42c3-8eee-2eb66e1ea835%26entityType%3Dcollection%26workspaceId%3Da63f69cc-5c31-4f2b-8d28-b647f83b9e97)
  - name: slack
    x-displayName: Slack
    description: |
      The integration endpoints enabling users to set up a Slack integration.
  - name: team_config
    x-displayName: Team configuration
    description: |
      The endpoints to manage team-level configuration.
  - name: tokens
    x-displayName: Access tokens
    description: >
      Used to authenticate with the API.


      Can be issued by org admins. Each access token is owned by the org that
      issued it.


      [![Run in
      Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/9829310-0a2fce9d-f679-41e8-a438-bcf13ddec403?action=collection%2Ffork&collection-url=entityId%3D9829310-0a2fce9d-f679-41e8-a438-bcf13ddec403%26entityType%3Dcollection%26workspaceId%3Da63f69cc-5c31-4f2b-8d28-b647f83b9e97)
  - name: users
    x-displayName: Users
    description: >
      Users pertains the users in general as qwiet.ai users and of each org as
      organization users.
  - name: versions
    x-displayName: Versions
    description: >
      The specific instances of an application scanned using Qwiet AI by
      Harness.

      [![Run in
      Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/9829310-d8e4a6f2-bdce-4807-a8ca-74fc00dbc089?action=collection%2Ffork&collection-url=entityId%3D9829310-d8e4a6f2-bdce-4807-a8ca-74fc00dbc089%26entityType%3Dcollection%26workspaceId%3Da63f69cc-5c31-4f2b-8d28-b647f83b9e97)
  - name: wiz
    x-displayName: Wiz
    description: |
      The endpoints to manage the Wiz integration.
paths:
  /user:
    get:
      tags:
        - users
      summary: Read user and their organization information.
      operationId: ReadUser
      description: |
        Read the user and their organization membership and invites information.
      security:
        - BearerToken: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        $ref: '#/components/schemas/UserMembershipInfo'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/audit/csv/{auditYear}/{auditMonth}:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/auditYear'
      - $ref: '#/components/parameters/auditMonth'
    get:
      tags:
        - orgs
      summary: Download audit log CSV
      operationId: DownloadAuditLog
      description: >
        Download the CSV formatted audit log for an organization for a specific
        month. This feature is disabled by default. Contact Qwiet AI Customer
        Success to enable it.
      security:
        - BearerToken:
            - org_audit_trail:read
      responses:
        '200':
          description: Success
          content:
            application/csv:
              schema:
                type: string
  /orgs/{orgID}/audit/csv/{auditYear}/{auditMonth}/{auditDay}:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/auditYear'
      - $ref: '#/components/parameters/auditMonth'
      - $ref: '#/components/parameters/auditDay'
    get:
      tags:
        - orgs
      summary: Download Daily CSV audit log
      operationId: DownloadDailyAuditLog
      description: >
        Download the CSV formatted audit log for an organization for a specific
        day. This feature is disabled by default. Contact Qwiet AI Customer
        Success to enable it.
      security:
        - BearerToken:
            - org_audit_trail:read
      responses:
        '200':
          description: Success
          content:
            application/csv:
              schema:
                type: string
  /orgs/{orgID}/checkanalysis/policies/{reference}:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/reference'
    put:
      tags:
        - orgs
      summary: Upsert check-analysis Configuration
      operationId: UpsertCheckAnalysisConfiguration
      description: >
        Upload configuration file for the `check-analysis` server-side
        configuration and

        returns the hash of the uploaded file when successful.

        The reference here takes no tag, just a name.
      parameters:
        - $ref: '#/components/parameters/checkAnalysisTags'
        - $ref: '#/components/parameters/useDefaults'
      security:
        - BearerToken:
            - check_analysis_configuration:write
      requestBody:
        content:
          application/yaml:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: object
                        required:
                          - contentHash
                          - tags
                        properties:
                          contentHash:
                            type: string
                          tags:
                            type: array
                            items:
                              type: string
              example:
                ok: true
                response:
                  contentHash: >-
                    cf070ba492a9ec9d411e615e7399c0c94d11be0888862c5385b7184a5da53ec7
                  tags:
                    - v1
                    - v2
                    - latest
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - orgs
      summary: Resolve check-analysis Configuration
      operationId: ResolveCheckAnalysisConfiguration
      description: >
        Resolve the given reference (name plus a tag, which is usually a version
        number) and

        return the raw file back to the caller.
      security:
        - BearerToken:
            - check_analysis_configuration:read
      responses:
        '200':
          description: Success
          content:
            application/yaml:
              schema:
                type: string
                format: binary
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/checkanalysis/policies:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - orgs
      summary: List check-analysis Configurations
      operationId: ListCheckAnalysisConfiguration
      description: |
        List all check-analysis configurations for the given
      security:
        - BearerToken:
            - check_analysis_configuration:list
      parameters:
        - name: name
          in: query
          description: >-
            Any names to filter for, only those policies tagged with these names
            will be returned
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: array
                        items:
                          type: object
                          required:
                            - contentHash
                            - tags
                          properties:
                            contentHash:
                              type: string
                            tags:
                              type: array
                              items:
                                type: object
                                required:
                                  - name
                                  - tags
                                properties:
                                  name:
                                    type: string
                                  tags:
                                    type: array
                                    items:
                                      type: string
              example:
                ok: true
                response:
                  - contentHash: >-
                      18269b4a713bfc9aa8e8c74d9b9c6a5ced89b4d46364644e2ede7ffa39f54aa9
                    tags:
                      - name: blah
                        tags:
                          - latest
                          - v1
                          - v2
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/my_scopes:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - scopes
      summary: List user's org scopes
      operationId: ListMyOrgScopes
      description: >
        Return a list of the scopes the user's bearer token is allowed to
        perform in the context of an org.
      security:
        - BearerToken: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: array
                        items:
                          $ref: '#/components/schemas/Scope'
              example:
                ok: true
                response:
                  - teams:read
                  - apps:list
                  - github:install
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/apps/{appID}/my_scopes:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/appID'
    get:
      tags:
        - scopes
      summary: List user's app scopes
      operationId: ListMyAppScopes
      description: >
        Return a list of scopes the user is allowed to perform in the context of
        an app.
      security:
        - BearerToken: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: array
                        items:
                          $ref: '#/components/schemas/Scope'
              example:
                ok: true
                response:
                  - scans:read
                  - findings:list
                  - findings:read
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/teams/{rbacTeamID}/my_scopes:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/rbacTeamID'
    get:
      tags:
        - scopes
      summary: List user's team scopes
      operationId: ListMyTeamScopes
      description: >
        Return a list of scopes the user is allowed to perform in the context of
        their team.
      security:
        - BearerToken: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: array
                        items:
                          $ref: '#/components/schemas/Scope'
              example:
                ok: true
                response:
                  - roles:read
                  - team:read
                  - team:update
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/roles:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - tokens
      summary: List access token roles
      operationId: ListRoles
      description: >
        Return a list of roles an that are assigned to an access token and are
        available for use (includes only the roles that are managed by Qwiet).
      security:
        - BearerToken:
            - roles:list
      parameters:
        - $ref: '#/components/parameters/orgID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: array
                        items:
                          $ref: '#/components/schemas/Role'
              example:
                ok: true
                response:
                  - id: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                    label: Jira plugin
                    description: >-
                      This role grants the token permissions required for the
                      Qwiet Jira Plugin.
                    role_type: managed
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/roles:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - rbac
      summary: List roles
      operationId: ListOrgRBACRoles
      description: >
        Return a list of roles an org has available to use (includes only the
        roles that are managed by Qwiet). Note that the ID and role ID for a CI
        token are also used for access tokens. The ID and role ID for an
        integration token are also used for a Jira integration token.
      security:
        - BearerToken:
            - roles:list
      parameters:
        - $ref: '#/components/parameters/orgID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: array
                        items:
                          $ref: '#/components/schemas/RBACRole'
              example:
                ok: true
                response:
                  - description: ''
                    id: e7ca42af-8dd5-4928-8eb9-28d5e41b5564
                    id_aliases:
                      - MEMBER
                      - TEAM_MEMBER
                    name: Member
                    scopes:
                      - apps:list
                      - cold_start_subscription:read
                      - cold_start_subscription:update
                      - findings:list
                      - kontra:login
                      - kontra:read
                      - org:read
                      - org_inspect_configuration:validate
                      - org_user_notification:create
                      - org_user_notification:delete
                      - org_user_notification:read
                      - org_user_notification:update
                      - roles:list
                      - subscriptions:read
                  - description: ''
                    id: c46b7cba-6726-11eb-8232-e3aecb012972
                    id_aliases:
                      - LEGACY_COLLABORATOR
                    name: Collaborator
                    scopes:
                      - apps:list
                      - findings:list
                      - findings:read
                      - kontra:login
                      - kontra:read
                      - metrics:write
                      - org:read
                      - org_inspect_configuration:validate
                      - org_invitations:list
                      - org_runs:create
                      - org_runs:read
                      - org_user_notification:create
                      - org_user_notification:delete
                      - org_user_notification:read
                      - org_user_notification:update
                      - scan_status:update
                      - seats:claim
                      - seats:list
                      - subscriptions:read
                      - teams:list
                      - tokens:create
                      - uploads:write
                  - description: ''
                    id: 6fc50b34-6705-11eb-b610-435a3f7b9ad3
                    id_aliases:
                      - SUPER_ADMIN
                    name: Super Admin
                    scopes:
                      - apps:list
                      - auth_provider:*
                      - blocked_seats:list
                      - blocked_seats:update
                      - cold_start_subscription:read
                      - cold_start_subscription:update
                      - findings:list
                      - findings:read
                      - github:install
                      - github_fork_demo:create
                      - github_repos:list
                      - github_user_repo:create
                      - kontra:login
                      - kontra:read
                      - org:delete
                      - org:read
                      - org:update
                      - org_alert_notification:read
                      - org_alert_notification:update
                      - org_configuration:read
                      - org_configuration:write
                      - org_inspect_configuration:create
                      - org_inspect_configuration:validate
                      - org_invitations:create
                      - org_invitations:delete
                      - org_invitations:list
                      - org_metrics:read
                      - org_user:list
                      - org_user_notification:create
                      - org_user_notification:delete
                      - org_user_notification:read
                      - org_user_notification:update
                      - project:create
                      - roles:create
                      - roles:list
                      - saml_config:create
                      - saml_config:delete
                      - saml_config:list
                      - saml_config:update
                      - seats:claim
                      - seats:delete
                      - seats:delete
                      - seats:list
                      - seats:write
                      - subscriptions:read
                      - subscriptions_trial:update
                      - teams:create
                      - teams:delete
                      - teams:list
                      - tokens:create
                      - tokens:delete
                      - tokens:list
                      - webhook:read
                      - webhook:write
                  - description: ''
                    id: 6d5fbe08-0512-46e0-b5d2-45902ee6c0ba
                    id_aliases:
                      - GUEST
                      - TEAM_GUEST
                    name: Guest
                    scopes:
                      - apps:list
                      - cold_start_subscription:read
                      - cold_start_subscription:update
                      - findings:list
                      - kontra:login
                      - kontra:read
                      - org:read
                      - org_user_notification:create
                      - org_user_notification:delete
                      - org_user_notification:read
                      - org_user_notification:update
                      - reports:read
                      - roles:list
                      - subscriptions:read
                  - description: ''
                    id: 09e9fc1f-8190-4b09-b2bf-a1beabd62c2a
                    id_aliases:
                      - POWER_USER
                      - TEAM_ADMIN
                    name: Power User
                    scopes:
                      - apps:list
                      - cold_start_subscription:read
                      - cold_start_subscription:update
                      - findings:list
                      - kontra:login
                      - kontra:read
                      - org:read
                      - org_inspect_configuration:validate
                      - org_user:list
                      - org_user_notification:create
                      - org_user_notification:delete
                      - org_user_notification:read
                      - org_user_notification:update
                      - project:create
                      - project:delete
                      - project:update
                      - roles:list
                      - subscriptions:read
                      - teams:list
                  - description: ''
                    id: 033d8bd8-849f-4665-9dd8-72787c0b2494
                    id_aliases:
                      - TEAM_DEFINED
                    name: Team Defined
                    scopes:
                      - apps:list
                      - findings:list
                      - org:read
                      - reports:read
                      - roles:list
                      - subscriptions:read
                  - description: >-
                      This is a custom role - it features an organization_id
                      since it's specific to an organization
                    id: 033d8bd8-849f-4665-9dd8-72787c0b2494
                    name: Custom Organization Role
                    organization_id: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                    scopes:
                      - apps:list
                      - reports:read
                      - roles:list
                      - subscriptions:read
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - rbac
      summary: Create custom RBAC role
      operationId: CreateCustomRBACRole
      description: |
        Creates a custom RBAC role for the provided organization
      security:
        - BearerToken:
            - roles:create
      parameters:
        - $ref: '#/components/parameters/orgID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomRBACRoleRequest'
            example:
              name: Custom team role
              description: This is a custom team role
              scopes:
                - apps:list
                - findings:list
                - org:read
                - roles:list
                - subscriptions:read
              role_type: team
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        $ref: '#/components/schemas/RBACRole'
              example:
                ok: true
                response:
                  id: e7ca42af-8dd5-4928-8eb9-28d5e41b5564
                  name: Member
                  resource_type: organization
                  description: ''
                  scopes:
                    - apps:list
                    - findings:list
                    - org:read
                    - roles:list
                    - subscriptions:read
                  role_type: team
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - code
                  - message
                properties:
                  status:
                    type: number
                    description: Status code
                    example: 409
                  code:
                    type: string
                    description: An error code signaling to the API user what went wrong
                    example: CUSTOM_ROLE_CREATION_CONFLICT
                  message:
                    type: string
                    description: A description of the error code
                    example: >-
                      A role with the same name, resource type, scopes and
                      organization id already exists
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/roles/{rbacRoleID}:
    put:
      tags:
        - rbac
      summary: Update RBAC role
      operationId: UpdateRBACRole
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/rbacRoleID'
      description: |
        Update the scopes of an existing RBAC role.
      security:
        - BearerToken:
            - roles:update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRBACRoleRequest'
            example:
              name: Member
              description: This is a member role
              scopes:
                - apps:list
                - findings:list
                - org:read
                - roles:list
                - subscriptions:read
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                ok: true
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - code
                  - message
                properties:
                  status:
                    type: number
                    description: Status code
                    example: 404
                  code:
                    type: string
                    description: An error code signaling to the API user what went wrong
                    example: NOT_FOUND
                  message:
                    type: string
                    description: A description of the error code
                    example: role was not found
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - rbac
      summary: Delete a custom RBAC role
      operationId: DeleteCustomRBACRole
      description: >
        Deletes a custom RBAC role for the provided organization. This operation
        only applies to custom roles and will not delete built-in system roles.
      security:
        - BearerToken:
            - roles:delete
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/rbacRoleID'
      responses:
        '200':
          description: Successfully deleted the role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                ok: true
        '404':
          description: Role not found
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - code
                  - message
                properties:
                  status:
                    type: number
                    description: Status code
                    example: 404
                  code:
                    type: string
                    description: An error code signaling to the API user what went wrong
                    example: NOT_FOUND
                  message:
                    type: string
                    description: A description of the error code
                    example: role was not found
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/scopes:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - rbac
      summary: List available RBAC scopes
      operationId: ListAvailableRBACScopes
      description: >
        Returns a list of RBAC scopes available for an organization to use when
        creating custom roles.

        These will match directly with the Super Admin role scopes.
      security:
        - BearerToken:
            - scopes:list
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: array
                        items:
                          $ref: '#/components/schemas/Scope'
              example:
                ok: true
                response:
                  - apps:list
                  - findings:list
                  - org:read
                  - roles:list
                  - subscriptions:read
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/users:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - rbac
      summary: List users
      operationId: ListOrgRBACUsers
      description: |
        Returns users in the organization with team membership and roles.

        Without `email`, lists organization users. Responses with more than
        1000 users are paginated at 100 per page; the `next_page` field in the
        response carries the URL of the next page. Pagination can also be
        requested explicitly via `page`. `search` filters the list to users
        whose name or email contains the given substring (case-insensitive).
        When `search` matches no users, the response is an empty list rather
        than a 404. `search` is mutually exclusive with the exact `email`
        lookup. `team` restricts the list to members of the given team ID and
        composes with `search`, `sort`, and `order`. Sort defaults to email
        ascending; supported sort fields are `name`, `email`, `role`, and
        `joined`.
      security:
        - BearerToken:
            - org_user:list
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/email'
        - $ref: '#/components/parameters/rbacUserSearch'
        - $ref: '#/components/parameters/rbacUserTeam'
        - $ref: '#/components/parameters/rbacUserSort'
        - $ref: '#/components/parameters/rbacUserOrder'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      next_page:
                        $ref: '#/components/schemas/NextPage'
                      response:
                        type: array
                        items:
                          $ref: '#/components/schemas/ListRBACUserInfo'
              example:
                ok: true
                response:
                  - name: Peter Gibbons
                    email: peter@example.com
                    id_v2: 61f9da5b-d316-419d-a206-1a006ae9e3a5
                    team_membership:
                      - team_name: ''
                        team_id: ''
                        role: 033d8bd8-849f-4665-9dd8-72787c0b2494
                        role_name: Team Defined
                        role_aliases:
                          - TEAM_DEFINED
                      - team_name: ATeam
                        team_id: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                        role: 6d5fbe08-0512-46e0-b5d2-45902ee6c0ba
                        role_name: Guest
                        role_aliases:
                          - GUEST
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/invitations:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - rbac
      summary: List invitations
      operationId: ListOrgRBACInvitations
      description: |
        Returns the pending (unaccepted) invitations in the organization, with
        the org-level role each invitee will receive on acceptance.

        Responses with more than 1000 invitations are paginated at 100 per page;
        the `next_page` field in the response carries the URL of the next page.
        Pagination can also be requested explicitly via `page`. `search` filters
        the list to invitations whose name or email contains the given substring
        (case-insensitive). When `search` matches nothing — or the organization
        has no pending invitations — the response is an empty list rather than a
        404. Sort defaults to email ascending; supported sort fields are `name`,
        `email`, and `invited`.
      security:
        - BearerToken:
            - org_invitations:list
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/rbacInvitationSearch'
        - $ref: '#/components/parameters/rbacInvitationSort'
        - $ref: '#/components/parameters/rbacUserOrder'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      next_page:
                        $ref: '#/components/schemas/NextPage'
                      response:
                        type: array
                        items:
                          $ref: '#/components/schemas/ListRBACInvitationInfo'
              example:
                ok: true
                response:
                  - name: Peter Gibbons
                    email: peter@example.com
                    role: 6fc50b34-6705-11eb-b610-435a3f7b9ad3
                    invited_utc_timestamp: 1704067200000000000
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/users/{userIDv2}:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/userIDv2'
    put:
      tags:
        - rbac
      summary: Update user
      operationId: UpdateOrgUser
      description: |
        Update a user
      security:
        - BearerToken:
            - teams:update
      parameters:
        - $ref: '#/components/parameters/orgID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationUserRequest'
            example:
              org_role: TEAM_DEFINED
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                ok: true
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - rbac
      summary: Delete user
      operationId: DeleteOrgUser
      description: |
        Delete a user
      security:
        - BearerToken:
            - org_user:delete
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                ok: true
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - code
                  - message
                properties:
                  ok:
                    type: boolean
                    description: Whether the request was successful (true) or not (false)
                    example: false
                  code:
                    type: string
                    description: An error code signaling to the UI what went wrong
                    example: CANNOT_DELETE_FELLOW_ADMIN
                  message:
                    type: string
                    description: A description of the error code
                    example: The target user is a fellow admin and cannot be deleted
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/groups:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - rbac
      summary: List human groups
      operationId: ListHumanGroups
      description: |
        Return a list of human groups in the organization.

        Responses with more than 1000 groups are paginated at 100 per page; the
        `next_page` field in the response carries the URL of the next page.
        Pagination can also be requested explicitly via `page`. The `name`,
        `iname`, and `no_members` filters bypass pagination; `search` is
        paginated like the unfiltered listing. `search` is mutually exclusive
        with `name`/`iname`.
      security:
        - BearerToken:
            - teams:list
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/humanGroupName'
        - $ref: '#/components/parameters/humanGroupNameI'
        - $ref: '#/components/parameters/humanGroupSearch'
        - $ref: '#/components/parameters/noMembers'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      next_page:
                        $ref: '#/components/schemas/NextPage'
                      response:
                        $ref: '#/components/schemas/ListHumanGroupsResponse'
              example:
                ok: true
                response:
                  groups:
                    - group_id: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                      group_name: Group1
                      members:
                        - user_id_v2: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                          email: example@qwiet.ai
                        - user_id_v2: 5b588f3a-7fe0-444d-afbb-213141321233
                          email: example2@qwiet.ai
                      teams:
                        - team_id: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                          team_name: Team1
                          role: TEAM_MANAGER
                        - team_id: 5b588f3a-7fe0-444d-afbb-213141321233
                          team_name: Team2
                          role: TEAM_MEMBER
                    - group_id: 5b588f3a-7fe0-444d-afbb-213141321233
                      group_name: Group2
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/teams:
    parameters:
      - $ref: '#/components/parameters/orgID'
    post:
      tags:
        - rbac
      summary: Create team
      operationId: CreateTeam
      description: |
        Create a new team for an organization.
      security:
        - BearerToken:
            - teams:create
      parameters:
        - $ref: '#/components/parameters/orgID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeamRequest'
            example:
              name: ATeam
              applications:
                - app01
              team_membership:
                - user_id_v2: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                  team_role: a003f608-67d1-11eb-b8a6-fbc4104446af
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        $ref: '#/components/schemas/CreateTeamResponse'
              example:
                ok: true
                response:
                  team_id: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - rbac
      summary: List teams
      operationId: ListTeams
      description: >
        Return the teams within an organization, sorted by team name. By

        default each team includes its members; pass `no_members=true` to omit

        them.


        Only teams the caller can read (`teams:read`) are returned — holding

        `teams:list` is enough to call the endpoint, but the result is filtered

        to the caller's readable teams.


        **Pagination.** Results are paged at 100 teams per page. Paging is not

        on by default: it engages either when the caller requests a page

        explicitly via `page`, or automatically when members are included

        (the default) and the organization has more than 1000 teams that the
        user

        has access to. In every other case the full (filtered) list is returned
        in

        a single response. When a further page exists, the `next_page` field
        carries

        the URL to fetch it; follow that URL rather than incrementing `page`

        yourself, as page contents are not guaranteed to be stable across
        requests.

        A `page` beyond the last one yields an empty list rather than a 404.


        `name` (alias: the legacy `teamName`) filters to teams matching that

        name case-insensitively; because it narrows the set, it is the

        recommended way to keep a members-included response small.


        **Safety valve.** A members-included request that is not paginated,

        spans more than one team, and would return more than 10000 members

        across those teams is rejected with `507 TOO_MUCH_WORK`. Resolve it by

        adding `page=1`, setting `no_members=true`, or narrowing with `name`.
      security:
        - BearerToken:
            - teams:list
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/teamName'
        - $ref: '#/components/parameters/noMembers'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      next_page:
                        $ref: '#/components/schemas/NextPage'
                      response:
                        $ref: '#/components/schemas/ListTeamsResponse'
              example:
                ok: true
                response:
                  - team_id: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                    team_name: Team1
                  - team_id: 5b588f3a-7fe0-444d-afbb-213141321233
                    team_name: Team2,
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/teams/{rbacTeamID}/membership:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/rbacTeamID'
    put:
      tags:
        - rbac
      summary: Update the members of a team
      operationId: UpdateTeamMembership
      description: |
        Update the members of a team.
      security:
        - BearerToken:
            - team_members:update
      parameters:
        - $ref: '#/components/parameters/orgID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamMembershipRequest'
            example:
              version: 1
              add_team_membership:
                - user_id_v2: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                  team_role: a003f608-67d1-11eb-b8a6-fbc4104446af
              remove_team_membership:
                - user_id_v2: 77788f3a-7fe0-444d-afbb-c0d5ee04139b
                  team_role: a003f608-67d1-11eb-b8a6-fbc4104446af
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        $ref: '#/components/schemas/ReadTeamResponse'
              example:
                ok: true
                response:
                  version: 1
                  team_id: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                  team_name: ATeam
                  applications:
                    - one_application_id
                  users:
                    - user_id_v2: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                      team_role: a003f608-67d1-11eb-b8a6-fbc4104446af
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/teams/{rbacTeamID}/apps:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/rbacTeamID'
    put:
      tags:
        - rbac
      summary: Update a team's applications
      operationId: UpdateTeamApps
      description: |
        Update the apps assigned to a team.
      security:
        - BearerToken:
            - team_apps:update
      parameters:
        - $ref: '#/components/parameters/orgID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamAppsRequest'
            example:
              version: 1
              add_applications:
                - app01
              remove_applications:
                - app02
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        $ref: '#/components/schemas/ReadTeamResponse'
              example:
                ok: true
                response:
                  version: 1
                  team_id: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                  team_name: ATeam
                  applications:
                    - one_application_id
                  users:
                    - user_id_v2: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                      team_role: a003f608-67d1-11eb-b8a6-fbc4104446af
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/teams/{rbacTeamID}/metadata:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/rbacTeamID'
    put:
      tags:
        - rbac
      summary: Update the metadata of a team
      operationId: UpdateTeamMetadata
      description: |
        Update the metadata of a team.
      security:
        - BearerToken:
            - teams:update
      parameters:
        - $ref: '#/components/parameters/orgID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamMetadataRequest'
            example:
              version: 1
              change_name: a new name
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        $ref: '#/components/schemas/ReadTeamResponse'
              example:
                ok: true
                response:
                  version: 1
                  team_id: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                  team_name: a new name
                  applications:
                    - one_application_id
                  users:
                    - user_id_v2: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                      team_role: a003f608-67d1-11eb-b8a6-fbc4104446af
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/teams/{rbacTeamID}:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/rbacTeamID'
    get:
      tags:
        - rbac
      summary: Read team
      operationId: ReadTeam
      description: |
        Return information about a team.
      security:
        - BearerToken:
            - teams:read
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/rbacTeamID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        $ref: '#/components/schemas/ReadTeamResponse'
              example:
                ok: true
                response:
                  version: 1
                  team_id: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                  team_name: ATeam
                  applications:
                    - one_application_id
                  users:
                    - user_id_v2: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                      team_role: a003f608-67d1-11eb-b8a6-fbc4104446af
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - rbac
      summary: Update a team
      operationId: UpdateTeam
      description: |
        Update a team within an organization.
      security:
        - BearerToken:
            - teams:update
      parameters:
        - $ref: '#/components/parameters/orgID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamRequest'
            example:
              version: 1
              add_applications:
                - app01
              remove_applications:
                - app02
              add_team_membership:
                - user_id_v2: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                  team_role: a003f608-67d1-11eb-b8a6-fbc4104446af
              remove_team_membership:
                - user_id_v2: 77788f3a-7fe0-444d-afbb-c0d5ee04139b
                  team_role: a003f608-67d1-11eb-b8a6-fbc4104446af
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        $ref: '#/components/schemas/ReadTeamResponse'
              example:
                ok: true
                response:
                  version: 1
                  team_id: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                  team_name: ATeam
                  applications:
                    - one_application_id
                  users:
                    - user_id_v2: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                      team_role: a003f608-67d1-11eb-b8a6-fbc4104446af
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - rbac
      summary: Delete team
      operationId: DeleteTeam
      description: |
        Delete a team within an organization.
      security:
        - BearerToken:
            - teams:delete
      parameters:
        - $ref: '#/components/parameters/orgID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteTeamRequest'
            example:
              version: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/teams/{rbacTeamID}/configuration:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/rbacTeamID'
    get:
      tags:
        - team_config
      summary: Read team config
      description: Return the configuration of a team.
      operationId: ReadTeamConfig
      security:
        - BearerToken:
            - teams:read
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: object
                        properties:
                          analysis_configuration:
                            $ref: '#/components/schemas/TeamAnalysisConfiguration'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - team_config
      summary: Update team config
      operationId: UpdateTeamConfig
      description: Update the team's configuration.
      security:
        - BearerToken:
            - teams:update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                analysis_configuration:
                  $ref: '#/components/schemas/TeamAnalysisConfiguration'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: object
                        properties:
                          analysis_configuration:
                            $ref: '#/components/schemas/TeamAnalysisConfiguration'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - team_config
      summary: Patch team config
      operationId: PatchTeamConfig
      description: >
        Partially update the team's configuration. Only fields present in the
        request body

        will be updated; all other fields are preserved.
      security:
        - BearerToken:
            - teams:update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                analysis_configuration:
                  $ref: '#/components/schemas/TeamAnalysisConfiguration'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: object
                        properties:
                          analysis_configuration:
                            $ref: '#/components/schemas/TeamAnalysisConfiguration'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/teams/{rbacTeamID}/configuration/merged:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/rbacTeamID'
    get:
      tags:
        - team_config
      summary: Read merged team config
      description: >-
        Return the effective configuration of a team by taking the organization
        configuration before merging in the actual team configuration on top,
        overriding those defaults.
      operationId: ReadMergedTeamConfig
      security:
        - BearerToken:
            - teams:read
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: object
                        properties:
                          analysis_configuration:
                            $ref: '#/components/schemas/TeamAnalysisConfiguration'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/teams/{rbacTeamID}/groups:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/rbacTeamID'
    get:
      tags:
        - rbac
      summary: List groups
      operationId: ListGroups
      description: |
        Return a list of all groups within a team.
      security:
        - BearerToken:
            - teams:list
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: array
                        items:
                          $ref: '#/components/schemas/ReadHumanGroupResponse'
    put:
      tags:
        - rbac
      summary: Create or update group
      operationId: UpsertGroup
      description: |
        Create or update a group within a team.
      security:
        - BearerToken:
            - teams:update
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/rbacTeamID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertGroupIntoTeamRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/groups/{groupID}:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/groupID'
    get:
      tags:
        - rbac
      summary: Read group
      operationId: ReadGroup
      description: |
        Return information about a group.
      security:
        - BearerToken:
            - teams:read
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/groupID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        $ref: '#/components/schemas/ReadHumanGroupResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/rbac/teams/{rbacTeamID}/groups/{groupID}:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/rbacTeamID'
      - $ref: '#/components/parameters/groupID'
    post:
      tags:
        - rbac
      summary: Update group
      operationId: UpdateGroup
      description: |
        Update a group's role within a team.
      security:
        - BearerToken:
            - teams:update
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/rbacTeamID'
        - $ref: '#/components/parameters/groupID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupRoleRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - rbac
      summary: Remove group from team
      operationId: RemoveGroupFromTeam
      description: |
        Remove a group's membership to a team.
      security:
        - BearerToken:
            - teams:update
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/rbacTeamID'
        - $ref: '#/components/parameters/groupID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - rbac
      summary: Read Team group
      operationId: ReadTeamGroup
      description: |
        Return information about a group.
      security:
        - BearerToken:
            - teams:read
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/rbacTeamID'
        - $ref: '#/components/parameters/groupID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        $ref: '#/components/schemas/ReadHumanGroupResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/app_groups:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - app_groups
      summary: Read organization app groups
      operationId: ReadOrgGroups
      description: |
        Return a list of all the organization groups.
      security:
        - BearerToken:
            - orgs:read
      parameters:
        - $ref: '#/components/parameters/orgID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: array
                        items:
                          type: string
              example:
                ok: true
                response:
                  - group_1
                  - group_2
                  - group_3
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/app_groups/{appGroupName}:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/appGroupName'
    get:
      tags:
        - app_groups
      summary: Read app group
      operationId: ReadAppGroup
      description: |
        Return information about an app group.
      security:
        - BearerToken:
            - orgs:read
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/appGroupName'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: array
                        items:
                          $ref: '#/components/schemas/ReadGroupResponse'
              example:
                ok: true
                response:
                  - app_ids:
                      - a_project_n_0
                      - a_project_n_4
                      - a_project_n_5
                    name: newName
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - app_groups
      summary: Create or update app group
      operationId: UpsertAppGroup
      description: |
        Create or update an application group.
      security:
        - BearerToken:
            - app_group:update
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/appGroupName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertAppGroupRequest'
            example:
              rename: newGroupName
              add_app_ids:
                - one_application_id
                - another_application_id
              remove_app_ids:
                - a_different_application_id
                - yet_another_application_id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: array
                        items:
                          $ref: '#/components/schemas/ReadGroupResponse'
              example:
                ok: true
                response:
                  - app_ids:
                      - a_project_n_0
                      - a_project_n_4
                      - a_project_n_5
                    name: newName
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - app_groups
      summary: Delete app group
      operationId: DeleteAppGroup
      description: |
        Deletes an application group.
      security:
        - BearerToken:
            - app_group:delete
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/appGroupName'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
              example:
                ok: true
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/saved_searches:
    get:
      tags:
        - saved_searches
      summary: Get all saved searches for an user
      operationId: ListSavedSearches
      parameters:
        - name: orgID
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of saved searches
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    search_name:
                      type: string
                    path_name:
                      type: string
                    search_query:
                      type: string
                    updated_at:
                      type: string
                      description: >-
                        the date-time of the last update of the saved search, in
                        UTC.
                      format: date-time
    post:
      tags:
        - saved_searches
      summary: Create a new saved search for a user
      operationId: CreateSavedSearch
      parameters:
        - name: orgID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                search_name:
                  type: string
                path_name:
                  type: string
                search_query:
                  type: string
      responses:
        '201':
          description: Saved search created
  /orgs/{orgID}/saved_searches/{searchID}:
    put:
      tags:
        - saved_searches
      summary: Update a saved search for a user
      operationId: UpdateSavedSearch
      parameters:
        - name: orgID
          in: path
          required: true
          schema:
            type: string
        - name: searchID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                search_name:
                  type: string
                path_name:
                  type: string
                search_query:
                  type: string
      responses:
        '200':
          description: Saved search updated
    delete:
      tags:
        - saved_searches
      summary: Delete a saved search for a user
      operationId: DeleteSavedSearch
      parameters:
        - name: orgID
          in: path
          required: true
          schema:
            type: string
        - name: searchID
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Saved search deleted
  /orgs/{orgID}/tokens:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - tokens
      summary: List tokens
      operationId: ListTokens
      description: >
        Return a list of tokens issued by the org.


        The token data returned includes metadata that identifies a token,
        included permissions, and an ID you can use to delete/revoke the token.
        The token data does NOT return the token value, which is exposed only
        when Qwiet issues the token.
      security:
        - BearerToken:
            - tokens:list
      parameters:
        - name: show_expired
          in: query
          description: Whether expired tokens should be returned or not
          schema:
            type: boolean
        - name: token_type
          in: query
          description: Filter the response by the type of token
          schema:
            $ref: '#/components/schemas/TokenType'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: array
                        items:
                          $ref: '#/components/schemas/Token'
              example:
                ok: true
                response:
                  - id: b7f521ca-d3f8-4a22-b7d9-8d12b1a7c1b7
                    label: Jira integration token
                    description: >-
                      This token was generated to integrate the Qwiet Jira
                      Plugin
                    role_id: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
                    token_type: integration
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - tokens
      summary: Create token
      operationId: CreateToken
      description: >-
        Create a new token for use with the API. The token can be assigned a
        role using the `role_id` parameter in the request body.
      security:
        - BearerToken:
            - tokens:create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewToken'
            example:
              label: On-prem Jira
              description: Used by the on-prem Jira integration to communicate with Qwiet
              role_id: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
              token_type: integration
              valid_for_seconds: 600
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        $ref: '#/components/schemas/CreateOrgTokenResponse'
              example:
                ok: true
                response:
                  value: this_is_the_token_value_that_will_only_be_exposed_once
                  id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  label: On-prem Jira
                  token_type: integration
                  description: >-
                    Used by the on-prem Jira integration to communicate with
                    Qwiet
                  role_id: 5b588f3a-7fe0-444d-afbb-c0d5ee04139b
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/tokens/{tokenID}:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - name: tokenID
        in: path
        description: The token ID
        required: true
        schema:
          type: string
          format: uuid
    delete:
      tags:
        - tokens
      summary: Delete token
      operationId: DeleteToken
      description: Delete an access token using its identifier.
      security:
        - BearerToken:
            - tokens:delete
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/apps:
    parameters:
      - $ref: '#/components/parameters/orgID'
    put:
      tags:
        - apps
      summary: Create Apps
      operationId: CreateApp
      description: >
        Create one or more apps owned by an organization and potentially
        assigned to a team.
      security:
        - BearerToken:
            - apps:create
      parameters:
        - $ref: '#/components/parameters/orgID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppProvisionRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        $ref: '#/components/schemas/AppProvisionResponse'
              example:
                ok: true
                response:
                  id: BillingAPI
                  name: BillingAPI
                  tags:
                    - key: group
                      value: billing
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - apps
      summary: List apps
      operationId: ListApps
      description: |
        Return a list of the apps owned by the org.
      security:
        - BearerToken:
            - apps:list
      parameters:
        - $ref: '#/components/parameters/orgID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: array
                        items:
                          $ref: '#/components/schemas/App'
              example:
                ok: true
                response:
                  - id: BillingAPI
                    name: BillingAPI
                    tags:
                      - key: group
                        value: billing
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/apps/{appID}:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/appID'
    delete:
      tags:
        - apps
      summary: Delete app
      operationId: DeleteApp
      description: |
        Delete an app owned by an organization.
      security:
        - BearerToken:
            - project:delete
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/appID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
              example:
                ok: true
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - apps
      summary: Read app
      operationId: ReadApp
      description: |
        Return an app owned by an organization.
      security:
        - BearerToken:
            - project:read
      parameters:
        - $ref: '#/components/parameters/orgID'
        - $ref: '#/components/parameters/appID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        $ref: '#/components/schemas/App'
              example:
                ok: true
                response:
                  id: BillingAPI
                  name: BillingAPI
                  tags:
                    - key: group
                      value: billing
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/apps/branches:
    parameters:
      - $ref: '#/components/parameters/orgID'
    get:
      tags:
        - apps
      summary: List app branches
      operationId: ListAppsBranches
      description: |
        Return a list of the branches of a specific app scanned for an org.
      security:
        - BearerToken:
            - apps:list
      parameters:
        - $ref: '#/components/parameters/orgID'
        - name: app
          in: query
          description: App name
          schema:
            type: string
        - name: from
          in: query
          description: >-
            The earliest scan time for a branch to be included. Value should be
            a Unix timestamp (in seconds). Defaults to 1 week ago
          schema:
            type: integer
        - name: until
          in: query
          description: >-
            The latest scan time for a branch to be included. Value should be a
            Unix timestamp (in seconds). Defaults to now
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: array
                        items:
                          type: object
                          required:
                            - id
                            - name
                          properties:
                            id:
                              type: string
                              description: The name of the app
                            name:
                              type: string
                              description: >-
                                An alternative name for the app (typically more
                                human-readable)
                            branches:
                              type: array
                              items:
                                description: Branch name
                                type: string
                            languages:
                              description: The app's languages
                              type: array
                              items:
                                type: string
                            default_branch:
                              type: string
                              description: >-
                                The name of the default or mainline branch, as
                                set in the app's config. Typically 'main',
                                'master' or 'trunk' (if present)
              example:
                ok: true
                response:
                  - id: hsl
                    name: hsl
                    default_branch: master
                    branches:
                      - master
                      - develop
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orgs/{orgID}/apps/{appID}/labels:
    parameters:
      - $ref: '#/components/parameters/orgID'
      - $ref: '#/components/parameters/appID'
    post:
      tags:
        - app_labels
      summary: Update application labels
      operationId: UpdateAppLabels
      description: Update the application's labels.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppLabelsRequest'
      security:
        - BearerToken:
            - project:update
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - response
                    properties:
                      response:
                        type: array
                        items:
                          type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
[...]
